{% extends "base.html" %}
{% block title %}
    Wheely - Landing Page
{% endblock title %}

{% load static %}
{% block custom_css_links %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock custom_css_links %}

{% block content %}
<main id="skip-header-target" role="main">
    <section class="featured-panel device-md">

        <div class="card">
            <img class="logo card-img full-opacity-on-device" src="../../static/img/wheely.png" alt="Card image">
            <div class="card-img-overlay d-flex">
            </div>
        </div>
    </section>
        
    <section class="bg-light py-5">
        <div class="container">
            <header class="mb-2 text-primary">
                <div class="row align-items-baseline">
                    <div class="col-lg">
                        <h2>Highlights</h2>
                    </div>
                    <!-- .col -->

                </div>
                <!-- .row -->

            </header>

            <div class="row matrix-gutter">

                <div class="col-md-6 col-lg-3">
                    <div class="card h-100 bg-white">
                        <img class="card-img-top" src="../../static/img/map.webp" width="400px" height="250px"  alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title h5">Access Routes</h2>
                            <p class="card-text">
                                Find accessible routes on Wheely
                            </p>
                        </div>
                    </div>
                </div>
                <!-- .col -->

                <div class="col-md-6 col-lg-3">
                    <div class="card h-100 bg-white">
                        <img class="card-img-top" src="../../static/img/wheelchair.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title h5">Inclusive Updates</h2>
                            <p class="card-text">
                                Accessible transportation updates at your fingertips
                            </p>
                        </div>
                    </div>
                </div>
                <!-- .col -->

                <div class="col-md-6 col-lg-3">
                    <div class="card h-100 bg-white">
                        <img class="card-img-top" src="../../static/img/nyc.png" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title h5">Step-Free Navigation</h2>
                            <p class="card-text">
                                Step-free subway navigation made simple
                            </p>
                        </div>
                    </div>
                </div>
                <!-- .col -->

                <div class="col-md-6 col-lg-3">
                    <div class="card h-100 bg-white">
                        <img class="card-img-top" src="../../static/img/disability.webp" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title h5">Effortless Boarding</h2>
                            <p class="card-text">
                                Effortless boarding for wheelchair users
                            </p>
                        </div>
                    </div>
                </div>
                <!-- .col -->

            </div>
            <!-- .row -->

        </div>
        <!-- .container -->

    </section>
</main>
{% endblock %}