{% extends "base.html" %}
{% load static %}
{% block custom_css_links %}
<link rel="stylesheet" href="{% static 'css/about_wheely.css' %}" />
{% endblock custom_css_links %} 

{% block content %}


<main class="about-sec3">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 ps-3 pe-3">
                <h1>The Accessibility Challenge</h1>
                <p class="fs-5">
                    Enhancing NYC's transit accessibility demands teamwork from authorities and advocates. Infrastructure upgrades and clear communication pave the way for inclusivity.</p>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 ps-3 pe-3">
                <img class="content" src="{% static 'img/wheelchair-749985_1280.jpg' %}" alt="">
            </div>
        </div>


    </div>
</main>
<main class="about-sec3" id="reservations">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 ps-3 pe-3 mb-3">
                <img class="content" src="{% static 'img/people-2570542_1280.jpg' %}" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 ps-3 pe-3">
                <h1>Our Solution</h1>
                <p class="fs-5">
                    Our innovative solution merges Google accessibility data with GPS, empowering disabled users to navigate NYC confidently. Through tech, we prioritize inclusivity, offering tailored navigation for a more accessible city experience.</p>


            </div>

        </div>


    </div>
</main>

<main class="about-sec3" id="appoint">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 ps-3 pe-3 mb-3">
                <h1>Our Features</h1>
                <p class="fs-5">Our solution offers customized route planning for seamless navigation tailored to accessibility needs. With a user-friendly interface, we empower disabled users to navigate the city effortlessly.</p>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 ps-3 pe-3">
                <img class="content" src="{% static 'img/maps-4237764_1280.jpg' %}"
                    alt="">
            </div>
        </div>


    </div>
</main>

<main class="about-sec3" id="reservations">
    <div class="container p-4">
        <h2 class="mt-4 mb-5 text-center">Our Contact System</h2>
        <div class="row">
            <div class="col-xl-12 ps-3 pe-3">
                <div class="mb-4 text-center">
                    <img class="star" class="contactSystem" src="{% static 'img/starReview.png' %}" alt="">
                </div>
                <p class="fs-3 text-center">our contact system prioritizes accessibility and responsiveness, offering multiple channels for inquiries and support needs, ensuring a seamless and efficient experience for our users.</p>

            </div>


        </div>
</main>
{% endblock content %}