{% extends "base.html" %} {% load static %} 
{% block custom_css_links %}
<link rel="stylesheet" href="{% static 'css/contact_us.css' %}" />
{% endblock custom_css_links %} 
{% block content %}
<div class="about-us-container">
  <section id="mission" class="section">
    <div class="section-content">
      <h1>Let's make Wheely better together</h1>
      <p>Please feel free to reach out to us using the form below.</p>
    </div>
  </section>
  <section id="contact-form" class="section">
    <div class="section-content text-left">
      <div class="history-content">
        <form action="#" method="post">
          {% csrf_token %}
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="firstName" class="form-label">First Name</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                placeholder="First Name"
                required
              />
            </div>
            <div class="col-md-6">
              <label for="lastName" class="form-label">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                placeholder="Last Name"
                required
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="email" class="form-label">Email Address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Email Address"
                required
              />
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <label for="message" class="form-label">Message</label>
              <textarea
                class="form-control"
                id="message"
                rows="5"
                style="resize: none"
                required
              ></textarea>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <button class="btn btn-success btn-block">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
